.listview {
	position: relative;
	height: 350px;
	width:100%;
}

.list_btn {
	position: absolute;
	margin : 20px 0px;
	z-index : 15;
	width : 30px;
	height : -webkit-calc(100% - 40px);	
	opacity: 0.8;	
	background-repeat: no-repeat;
	background-position: center;	
	background-color : #fff;
}

.list_btn:hover {
	opacity: 0.9;
}
.list_btn:active {
	opacity: 1;
}

.list_btn.prev_btn {
	background-image: url("../../images/seetreetimg/arrow_left_sel.png");
	left: 0;
	top : 0;
}

.list_btn.next_btn {
	background-image: url("../../images/seetreetimg/arrow_right_sel.png");
	right: 0;
	top : 0;
}

.listview .viewport {
	position:relative;
	float : left;	
	height : 100%;
	width : 100%;
	overflow: hidden;
	white-space: nowrap;
	padding : 25px 0;
	/*perspective: 1000px;*/
}

.box {
	position : relative;
	height : 300px;
	width :200px;
	margin : 0 20px 20px 0;
	display: inline-block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	border-radius: 5px;
	zoom : 1;
	box-shadow: 0px 0px 10px #505050;
	overflow:hidden;
	transition: box-shadow .5s ease-out, height .5s ease-out;
}

.box.init {
	height : 10px;
}

.box:hover {	
	z-index: 10;
	box-shadow: none;
}

.box .image {	
	height: 200px;	
}

.box .title {
	padding : 0 20px;
	width: 200px;
	height: 30px;
	background-color: rgba(254,98,70 ,1.0);
	text-overflow: ellipsis;
	color : #fff;
	overflow: hidden;
	white-space: nowrap;
	font-weight: bold;	
	font-size: 20px;
}

.box .option {
	height: 70px;
	width: 200px;
	background-color: blue;
	background-color: rgba(0,0,0,0.4);
	border-radius: 0 0 5px 5px;
	color : #ccc;
	font-weight: lighter;
	padding : 0 20px;
	font-size : 15px;
}


.box .box_hover {	
	visibility : hidden;
	position: absolute;
	top: 0;	
	width: 0%;
	height: 0%;
	border-radius : 5px;
	background-color: rgba(0,0,0,0.0);
	background-image: url("../../images/seetreetimg/btn-person-grey.png");
	background-repeat: no-repeat;
	background-position: center;	
	transition: background .5s ease-out , display .5s ease-out;
}

.box:hover > .box_hover {	
	visibility : visible;
	width: 100%;
	height: 200px;
	background-color: rgba(0,0,0,0.3);	
}

.box .box_hover:active {
	background-image:  url("../../images/seetreetimg/btn-person-yel.png");
	background-color: rgba(0,0,0,0.5);	
	transition : none;
}

.box .box_hover h3 {
	font-size : 10pt;
	color : #fff;
	width : 100%;
	word-break: break-all;
	white-space: normal;
}

.box .box_hover h3 strong {
	font-weight: bold;
}

.box.artist {
	/*margin-right: -100px;*/
	/*transform : rotateY(30deg);
	transition: transform 0.5s ease-out;*/
}

.box.artist .option.btn_permit {
	background-image: url("../../images/seetreetimg/btn-ok-grey.png");
	background-repeat: no-repeat;
	background-position: center;
	transition : background .5s ease-out;
}

.box.artist .option.btn_permit:hover {
	background-image: url("../../images/seetreetimg/btn-ok-yel.png");
	background-color : rgba(0,0,0,.8);	
}

.box.artist .option.btn_permit:active {
	transition : none;
	background-image: url("../../images/seetreetimg/btn-ok-red.png");	
	background-color : rgba(0,0,0,.9);	
}

.box.provider .option.btn_apply {
	cursor : pointer;
	text-align: center;
	font-size: 20px;
	line-height: 70px;
	transition: all .5s linear;
}

.box.provider .option.btn_apply:hover {
	background-color: rgba(0,0,0,0.7);	
}

.box.provider .option.btn_apply:active {
	background-color: rgba(0,0,0,0.9);
	transition: none;
}


.box.artist.confirm {
	/*margin-right :20px;
	margin-left : 20px;*/
	/*transform: rotateY(0deg);*/
	border : 1px solid red;
	border-radius: 5px;
}

.box.artist.confirm .option.btn_permit{
	background-image : url("../../images/seetreetimg/btn-no-grey.png");
}

.box.artist.confirm .option.btn_permit:hover{
	background-image : url("../../images/seetreetimg/btn-no-yel.png");
}

.box.artist.confirm .option.btn_permit:active{
	background-image : url("../../images/seetreetimg/btn-no-red.png");
}

.box.artist:hover {	
	/*transform: rotateY(0deg);*/
}

.content_container {
	position:relative;	
	height : 350px;
	transition : height .5s ease-out , background .5s ease-out;		
}

.content_container.p_content_container {
	border-top: 1px solid #aaa;
	overflow: hidden;
}

.content_container.p_content_container[data-id='empty'][data-state='init'] {	
	height : 10px;
}
.content_container.a_content_container[data-id='empty'][data-state='init'] {	
	height : 10px;
}

.content_container.p_content_container:nth-child(2) {
	border-top: none;
}

.content_container.p_content_container[data-id='empty'] {
	height : 300px;
	margin-left : 20px;
	background-color : rgba(0 ,0,0, 0.4);
	background-image : url("../../images/seetreetimg/btn-plus-grey.png");
	background-repeat: no-repeat;
	background-position: center;	
	border-radius : 10px;	
}

.content_container.p_content_container[data-id='empty']:hover {	
	background-color : rgba(0 ,0,0, 0.6);
	background-image : url("../../images/seetreetimg/btn-plus-yel.png");
}

.content_container.p_content_container[data-id='empty']:active {	
	background-color : rgba(0 ,0,0, 0.8);
	background-image : url("../../images/seetreetimg/btn-plus-red.png");
	transition : none;
}


.content_container.p_content_container .identity.box {
	float : left;
	margin : 25px 40px 25px 20px;
}

.content_container.p_content_container .listview {
	float : left;
	width : -webkit-calc(100% - 265px);
	min-width: 200px;
}

.content_container .listview h2.p_empty_text {
	display : none;
	visibility : hidden;
	width : 100%;	
	line-height : 300px;
	color : #303030;
	font-size : 50pt;
	text-align: center;
	transition: display .5 ease-out
}

.content_container .listview.empty h2.p_empty_text {
	display : block;
	visibility: visible;
}

<<<<<<< HEAD
#provider_create_content .modal-body{
    display : table;
}
#provider_create_content .modal-body .input-group{
    margin : 10px 0px 20px 0px;
    width : 565px;
}
.common-button {
    width : 130px;
    height : 40px;
    color : #fff;
    border :none;
    border-radius: 5px;
}
.common-button.save-button {
    background-color: #34495e;
}
.common-button.cancel-button {
    background-color: #a9b9c5;
}
.content_container .listview.empty .list_btn {
	display : none;
}

.content_container .listview.empty .viewport {
	display : none;
}

